<h1><center>Homework 1</center></h1>

## Import Libraries

In [6]:
import numpy as np
import pandas as pd

## Question 1
What's the version of NumPy that you installed?

In [2]:
np.__version__

'1.21.5'

Get Car Price datset

In [5]:
# !wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-09-08 05:19:36--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv.1’

data.csv.1          100%[===================>]   1.41M   922KB/s    in 1.6s

2022-09-08 05:19:39 (922 KB/s) - ‘data.csv.1’ saved [1475504/1475504]

In [7]:
cars_df = pd.read_csv("data.csv")
cars_df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Question 2
How many records are in the dataset?

In [11]:
print("Number of records:", cars_df.shape[0])

Number of records: 11914

## Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [13]:
cars_df['Make'].value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

## Question 4
What's the number of unique Audi car models in the dataset?

In [40]:
cars_df[cars_df['Make'] == 'Audi']['Model'].nunique()

34

## Question 5
How many columns in the dataset have missing values?

In [48]:
cars_df.isna().sum()[cars_df.isna().sum() !=0]

Engine Fuel Type       3
Engine HP             69
Engine Cylinders      30
Number of Doors        6
Market Category     3742
dtype: int64

## Question 6
Find the median value of "Engine Cylinders" column in the dataset.

In [151]:
cars_df['Engine Cylinders'].median()

6.0

Next, calculate the most frequent value of the same "Engine Cylinders".

In [51]:
cars_df['Engine Cylinders'].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.

In [53]:
cars_df['Engine Cylinders_filled_mode'] = cars_df['Engine Cylinders'].fillna(cars_df['Engine Cylinders'].mode())

Now, calculate the median value of "Engine Cylinders" once again.
Has it changed?

In [150]:
cars_df['Engine Cylinders_filled_mode'].median()

6.0

## Question 7
- Select all the "Lotus" cars from the dataset.
- Select only columns "Engine HP", "Engine Cylinders".
- Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
- Invert XTX.
- Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the value of the first element of w?

In [143]:
X = cars_df[["Engine HP", "Engine Cylinders"]][cars_df['Make'] == "Lotus"].drop_duplicates()
X

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [144]:
X = X.to_numpy()
X.shape

(9, 2)

In [145]:
XT = X.T
XT.shape

(2, 9)

In [146]:
XTX = XT.dot(X)
XTX.shape

(2, 2)

In [147]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv.shape

(2, 2)

In [139]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
y.shape

(9,)

In [148]:
w = XTX_inv.dot(XT)
w.shape

(2, 9)

In [149]:
w.dot(y)

array([  4.59494481, -63.56432501])